<!DOCTYPE html>

<script type="text/javascript">
  setTimeout(function() {
  location.reload();
}, 1000);
</script>

<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    <div style="display:block; width:1000px ; height:975px; content-box;">
        <canvas id="myChart" width="125" height="100" style="display:block; width:125px ; height:100px;"></canvas>
        <script src="../public/Chart.js"></script>
        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{{labels}}},
                    datasets: [{
                        data: {{data}},
                        backgroundColor: [
                            "#8e5ea2", // red
                            "#3cba9f" // green
                        ],
                        label: "what is that?"
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: {{{contest}}}
                    },
                    animation: {
                        animateScale: false,
                        duration: 0
                    }
                }
            });
        </script>
    </div>
</body>

</html>
