<!DOCTYPE html>
<-- TODO 
Here we need the javascript code that sets the backgroud to red if not healthcheck, green otherwise
Better we add this to a partial with a generic parameter name
-->
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <p><marquee>liveness status :{{healthCheck}}</marquee></p>
    </body>
</html>